<div class="container text-center">
  <div class="row">
    <div class="col-lg col-md-6 col-sm-12">
      <div class="skill">
        <h1>My Skills</h1>
        <hr />
      </div>
      <div
        class="progress mt-5"
        role="progressbar"
        aria-label="Basic example"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="50"
      >
        <div
          class="progress-bar"
          style="width: 100%; background-color: #5f5f5f"
        >
          Boot strap && 100%
        </div>
      </div>
      <div
        class="progress"
        role="progressbar"
        aria-label="Basic example"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="25"
      >
        <div
          class="progress-bar"
          style="width: 90%; background-color: #5f5f5f"
        >
          Node.js && 90%
        </div>
      </div>
      <div
        class="progress"
        role="progressbar"
        aria-label="Basic example"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="25"
      >
        <div
          class="progress-bar"
          style="width: 90%; background-color: #5f5f5f"
        >
          Angular && 90%
        </div>
      </div>
      <div
        class="progress"
        role="progressbar"
        aria-label="Basic example"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div
          class="progress-bar"
          style="width: 75%; background-color: #5f5f5f"
        >
          HTML5 && 75%
        </div>
      </div>
      <div
        class="progress"
        role="progressbar"
        aria-label="Basic example"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div
          class="progress-bar"
          style="width: 75%; background-color: #5f5f5f"
        >
          CSS3 && 75%
        </div>
      </div>
    </div>
  </div>
</div>
