<div class="container">
  <div class="row">
    <div class="col">
      <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
          <h1 class="text">About me</h1>
          <p class="lead">
            I’m a developer experienced in
            <code class="code">building websites</code> for small and
            medium-sized and businesses whether you’re trying to win work, list
            your services, or create a new online store, i can help you know
            HTML5 and CSS3, BOOTSTRAP, JQuery, JAVA SCRIPT, ES6 , UX/UL Full
            project management from start to finish
          </p>
          <button type="button" class="btn btn-lg">Download CV</button>
        </div>
      </div>
    </div>
  </div>
</div>
